apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "ska-oso-services.name" . }}-{{ .Values.rest.component }}-{{ .Release.Name }}-environment
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ska-oso-services.labels" . | indent 4 }}
    component:  {{ template "ska-oso-services.name" . }}
    domain: environment
    function: ska-oso-services-environment
    intent: production
data:
  LOG_LEVEL: {{ .Values.rest.logLevel }}
  PIPELINE_TESTS_DEPLOYMENT: {{ .Values.pipeline_test_deployment | quote }}
  KUBE_NAMESPACE: {{ .Release.Namespace }}
  {{ if .Values.rest.sdp.tmdata }}
  SDP_SCRIPT_TMDATA: {{ .Values.rest.sdp.tmdata }}
  {{ end }}
  {{ if .Values.rest.skuid.url }}
  SKUID_URL: {{ .Values.rest.skuid.url }}
  {{ else }}
  SKUID_URL: ska-ser-skuid-{{ .Release.Name }}-svc.{{ .Release.Namespace }}.svc.{{ .Values.global.cluster_domain }}:9870
  {{ end }}