{{ if not .Values.global.oda.postgres.password.secret }}
{{- if .Values.vault.enabled }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ template "ska-oso-services.oda-secret-name" $ }}
  namespace: {{ .Release.Namespace }}
spec:
  type: kv-v2
  mount: {{ $.Values.vault.mount }}
  path: {{ $.Values.vault.odaSecretPath }}
  destination:
    name: {{ template "ska-oso-services.oda-secret-name" $ }}
    create: true
    overwrite: true
    excludeRaw: true
    includes:
    {{- range .Values.vault.odaSecretKeys }}
      - {{ . }}
    {{- end }}
{{- else }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "ska-oso-services.oda-secret-name" $ }}
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  # This list should match the keys that are in the secret in Vault (i.e. those in Values.vault.secretKeys)
  ADMIN_POSTGRES_PASSWORD: localpassword
{{- end }}
{{- end }}