# --- Application Settings ---
LOG_LEVEL=INFO
PRODUCTION=False
API_PATH_PREFIX=
ENGINEERING_API_ENABLED=True
SDP_SCRIPT_TMDATA=

# --- ODA Configuration ---
PGHOST=localhost
PGPORT=5432
PGDATABASE=oda
PGUSER=oda_admin
PGPASSWORD=

# --- Auth Configuration ---
SKA_AUTH_AUDIENCE=live:pht,live:odt,api://e4d6bb9b-cdd0-46c4-b30a-d045091b501b
PIPELINE_TESTS_DEPLOYMENT=False
OSO_CLIENT_SECRET=OSO_CLIENT_SECRET

# --- Email Configuration ---
PHT_EMAIL_USER=
PHT_EMAIL_PASSWORD=

# --- S3 Configuration ---
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_PHT_BUCKET_NAME=
AWS_REGION=
PRESIGNED_URL_EXPIRY_TIME=60

# --- User Portal Configuration ---
USER_PORTAL_BASE_URL=https://userportal.skao.int.example
USER_PORTAL_API_KEY=
USER_PORTAL_TIMEOUT=10
