*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
*.DS_Store
setup.py-e

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

venv

# ide
.idea
.eclipse
.vscode

**/Chart.yaml-e
**/*.py-e
**/values.yaml-e
**/Dockerfile-e
PrivateRules.mak
MANIFEST.skao.int%

**/pytest-logs.txt
**/Chart.lock
*.tgz

PrivateRules.mak
