apiVersion: v2
name: ska-oso-services-umbrella
description: Helm umbrella chart for the OSO Services
type: application
version: 4.0.2
appVersion: 4.0.2
icon: https://www.skatelescope.org/wp-content/uploads/2016/07/09545_NEW_LOGO_2014.png
dependencies:
- name: ska-oso-services
  version: 4.0.2
  repository: file://../ska-oso-services

# ODA is a dependency of OSO services. Include it for data persistence
# The ODA umbrella chart includes ODA API, PostgreSQL database and SKUID
- name: ska-db-oda-umbrella
  # If updating this, also remember to update the Python dependency
  version: 11.5.1
  repository: https://artefact.skao.int/repository/helm-internal
  condition: ska-db-oda-umbrella.enabled
