vault:
  enabled: true
  mount: dev # update after ST added secrets for staging
  secretPath: "stargazers/oso-services" # update after ST added secrets for staging
  secretKeys:
  - "AWS_SERVER_PUBLIC_KEY"
  - "AWS_SERVER_SECRET_KEY"
  - "SMTP_PASSWORD"
  - "AWS_PHT_BUCKET_NAME"
  - "OSO_CLIENT_SECRET"