# Default values for OSO Services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
minikube: true

nameOverride: ~ # This should be set if the chart is being deployed with an alias (e.g. when multiple versions can be deployed)

system: TM-mid
telescope: SKA-mid
subsystem: ska-oso-services
# A permanent deployment should never set this to true, as it will
# cause the authentication to use test public keys.
pipeline_test_deployment: false

global:
  minikube: true
  cluster_domain: techops.internal.skao.int
  oda:
    postgres:
      # The below values are used to set environment variables that are used in the ODA Repository. If they are not set then
      # default are set in the environment.yaml that point at an ODA postgres instance in the same namespace.
      host: ~
      port: ~
      database: ~
      user: ~
      # The password should be pulled from Vault via a k8s Secret. If these values are left as null, a new
      # secret will be created by this chart. These values are exposed so a different secret can be defined,
      # for example if the Secrets are managed elsewhere.
      password:
        secret: ~ # This is the resource name of a k8s Secret
        key: ~ # This is the key the password is stored under within that Secret

rest:
  component: rest
  function: oso-services
  domain: operations
  logLevel: INFO
  enabled: true
  image:
    registry: artefact.skao.int
    image: ska-oso-services
    tag: ~ # Defaults to the chart appVersion if not set
    pullPolicy: IfNotPresent
  pht:
    aws_server_public_key:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    aws_server_secret_key:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    smtp_password:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    s3_bucket_name:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    oso_client_secret:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~

  skuid:
    url: # Standard SKUID svc address is used if this is not set
  ingress:
    enabled: true

# The following values are used by the pht_secrets.yaml and oda_secret.yaml templates
vault:
  enabled: true
  mount: dev
  secretPath: "stargazers/oso-services"
  secretKeys:
  - "AWS_SERVER_PUBLIC_KEY"
  - "AWS_SERVER_SECRET_KEY"
  - "SMTP_PASSWORD"
  - "AWS_PHT_BUCKET_NAME"
  - "OSO_CLIENT_SECRET"
  odaSecretPath: "team-buttons/ska-db-oda/credentials"
  odaSecretKeys:
  - "ADMIN_POSTGRES_PASSWORD"

nodeSelector: {}

affinity: {}

tolerations: []
