# Default values for OSO Services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
minikube: true

nameOverride: ~ # This should be set if the chart is being deployed with an alias (e.g. when multiple versions can be deployed)

system: TM-mid
telescope: SKA-mid
subsystem: ska-oso-services
# A permanent deployment should never set this to true, as it will
# cause the authentication to use test public keys.
pipeline_test_deployment: false

global:
  minikube: true
  cluster_domain: techops.internal.skao.int
  oso:
    # The TMData source URL for SDP Script data used by oso-services and oso-scripting to
    # retrieve compatible script version and script parameter information
    sdp_tmdata: "car://gitlab.com/ska-telescope/sdp/ska-sdp-script?master#tmdata"
  oda:
    # These global values are used by the ska-db-oda rest server deployment to connect to the postgres instance
    # See RtD for more details.
    postgres:
      cluster: pgstfc # The name of the SGCluster
      clusterNamespace: ska-tango-archiver-db # The namespace the SGCluster is deployed to
      # If this is not set, PGHOST will default to the address of the Postgres instance deployed by the Stackgres operator,
      # using the .Values.global.oda.postgres.cluster and .Values.global.oda.postgres.clusterNamespace values
      host: ~
      port: "5432"
      database: ~ # For pipeline deployments, this is dynamic so is set in the Makefile
      user: ~ # For pipeline deployments, this is set in the makefile to <database>_admin
      secret:
        existingSecret:
          # This is the resource name of a k8s Secret and that has a PGPASSWORD key
          # If it is left as null a new secret will be created, pulling the value from Vault
          # Note: if this Secret also contains the other PG_ environment variables then they will override the values
          # in the ConfigMap. This is useful is the Postgres deployment is managed elsewhere and there is already
          # a Secret in the cluster with all the connection details.
          name: ~
        vault:
          enabled: true
          mount: dev
          secretPath: "team-buttons/ska-db-oda/credentials"
          secretKeys:
            - "PGPASSWORD"

rest:
  component: rest
  function: oso-services
  domain: operations
  logLevel: INFO
  enabled: true
  image:
    registry: artefact.skao.int
    image: ska-oso-services
    tag: ~ # Defaults to the chart appVersion if not set
    pullPolicy: IfNotPresent
  pht:
    aws_server_public_key:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    aws_server_secret_key:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    smtp_password:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    s3_bucket_name:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
    oso_client_secret:
      # This is the resource name of a k8s secret and the key the password is stored under.
      # If left as null the default secret deployed by the PHT umbrella will be used.
      secret: ~
      key: ~
  ingress:
    enabled: true

# The following values are used by the pht_secrets.yaml template
vault:
  enabled: true
  mount: dev
  secretPath: "stargazers/oso-services"
  secretKeys:
  - "AWS_SERVER_PUBLIC_KEY"
  - "AWS_SERVER_SECRET_KEY"
  - "SMTP_PASSWORD"
  - "AWS_PHT_BUCKET_NAME"
  - "OSO_CLIENT_SECRET"

nodeSelector: {}

affinity: {}

tolerations: []
